<div class="center-pulse" id="reload">
  {% if product.available %}
    {% if product.inventory_quantity == 0 %}
      <div class="circle pulse red"></div>
      <span class="availability-text">Ausverkauft. Bitte kontaktieren Sie uns für weitere Informationen.</span>
    {% elsif product.inventory_quantity < 10 %}
      <div class="circle pulse yellow"></div>
      <span class="availability-text">Fast ausverkauft. Nur noch {{ product.inventory_quantity }} verfügbar.</span>
    {% else %}
      <div class="circle pulse green"></div>
      <span class="availability-text">Auf Lager. In 24h versandbereit.</span>
    {% endif %}
  {% else %}
    <div class="circle pulse red"></div>
    <span class="availability-text">Ausverkauft. Bitte kontaktieren Sie uns für weitere Informationen.</span>
  {% endif %}
</div>
