.product-price {
  font-size: 16px;
  font-weight: bold;
}

.compare-at-price {
  font-size: 12px;
  color: gray;
  text-decoration: line-through;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.sales {
  background-color: #e74c3c;
}

.sold-out {
  background-color: #95a5a6;
}

.new {
  background-color: #3498db;
}

@media (min-width: 1024px) {
  .featured-product__price {
    justify-content: flex-start !important;
  }
}

.featured-product__price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product--prices__compare {
  text-decoration: line-through;
  font-size: var(--h3-font-size);
}

.product--prices__price {
  margin-left: 10px;
  font-size: var(--h1-font-size);
  font-weight: 600;
  line-height: var(--h1-line-height);
  color: var(--primary-color);
}
