header.navigation {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  transition: 0.6s;
  align-items: center;
}

header.sticky {
  background: #fff;
  padding: 30px 100px;
}

header.sticky .brand {
  color: black;
}

header .brand {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header ul.menu-links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header ul.menu-links li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

header .menu-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 25px;
}

header .menu-toggle {
  cursor: pointer;
  display: none;
}

.badge-count {
  position: relative;
}

.badge-count::after {
  position: absolute;
  content: attr(data-bag);
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: grid;
  place-items: center;
  background: coral;
  border-radius: 50%;
  color: white;
}

.number {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: grid;
  place-items: center;
  background: coral;
  border-radius: 50%;
  color: white;
}

@media screen and (max-width: 1060px) {
  header.navigation {
    padding: 40px 10px;
    justify-content: space-evenly;
    /* gap: 30px; */
  }

  header .menu-toggle {
    display: block;
  }

  header ul.menu-links {
    z-index: 998;
    position: fixed;
    background: #fff;
    flex-direction: column;
    min-width: 400px;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.6s;
    transition-property: right;
  }

  header ul.menu-links.active {
    right: 0;
  }

  header .menu-links .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px;
    font-size: 25px;
  }
}
